@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand: #1c9bb1;
  --color-brand-black: #0e0f11;
  --color-brand-white: #fcfbfc;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

:root {
  color-scheme: dark;
  color: #fcfbfc;
  background-color: #0e0f11;
}

html {
  background-color: #0e0f11;
}

body {
  background-color: #0e0f11;
  color: #fcfbfc;
  min-height: 100vh;
  overscroll-behavior: none;
}
